* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.page {
    margin: 0 auto;
    width: 480px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background: white;
}

.header p,
footer p {
    width: 134px;
    color: #212121;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
}


footer p {
    width: 154px;
    color: white;
}

.header span,
footer span {
    color: #2196F3;
}

.intro {
    background-image: url(./img/001.png);
    width: 480px;
    height: 400px;
    background-size: cover;
    background-position: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro p {
    width: 360px;
    height: 84px;
    color: white;
    font-size: 26px;
    text-align: center;
    font-family: Roboto;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 1.56px;
    text-transform: uppercase;
}

.intro button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: #2196F3;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    margin-top: 40px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
}

.details {
    width: 450px;
    height: 994px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 60px 0;
    background: white;
}

.details .forSvg+div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    height: 76px;
    gap: 10px;
}

.forSvg {
    width: 450px;
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline {
    width: 270px;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;

}


.info_list {
    height: 50px;
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
    font-weight: 400;
}

.team {
    background: #F5F4FA;
    height: 2761px;
    width: 480px;
    padding: 60px 15px;
}

.team h5 {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.84px;
}

.team-list {
    flex-wrap: nowrap;
    margin-top: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-name {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    height: 19px;
    letter-spacing: 0.48px;
    margin-top: 30px;
}

.team-prof {
    height: 19px;
    color: #757575;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin-top: 10px;
}

.team-svg {
    width: 206px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-top: 16px;
}

.team-list img {
    width: 450px;
}

.team-list li {
    height: 622px;
    width: 450px;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients {
    padding: 60px 15px;
    height: 519px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}



.clients h5 {
    width: 100%;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.84px;
}


.clients div {
    margin-left: 0;
    margin-top: 30px;
    height: 336px;
    width: 450px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    gap: 0;
}

.clients div ul {
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}

.clients div ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-svg {
    width: 210px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
}


.odd-text {
    color: #AFB1B8;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

footer {
    height: 603px;
    width: 480px;
    background: #2F303A;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    height: 21px;
    width: 100%;
}

.footer-contacts:first-child {
    color: white;
}

.footer-join {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-join+div {
    display: flex;
    width: 206px;
    justify-content: space-between;
}

.footer-svg {
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-subscribe {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    width: 100%;
}

.footer-subscribe+input {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 450px;
    height: 50px;
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
    padding: 15px;
}

footer ul li:nth-of-type(4) button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}


footer ul li:nth-of-type(4) button svg {
    margin-left: 12px;
    margin-bottom: -7px;
}

footer ul li:nth-of-type(4) button p {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;

    letter-spacing: 0.96px;
}

footer ul li:nth-of-type(2) {
    margin-top: 20px;
    height: 79px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    margin-left: 0;
}


footer ul li:nth-of-type(3) {
    margin-top: 60px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-left: 0;
}


footer ul li:nth-of-type(4) {
    margin-top: 60px;
    height: 156px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 0;
}

.menuBlock {
    width: 480px;
    height: 496px;
    background: rgb(209, 243, 253);
    position: absolute;
    top: 0;
    padding: 30px;
}

.burgerList {
    width: 250px;
    height: 240px;
    position: relative;
    top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactList {
    width: 350px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 50px
}

.contactListItem1 {
    color: #2196F3;
    font-family: Roboto;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0.68px;
}

.contactListItem2 {
    color: #757575;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.48px;
}

a {
    text-decoration: none;
}

.listItem:first-child {
    color: #2196F3;
}

.listItem {
    height: 50px;
    width: 250px;
    font-size: 40px;
    color: #212121;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.8px;
}

.closeButton {
    width: 40px;
    height: 40px;
    position: relative;
    left: 390px;
    top: -10px;
}




@media (min-width:768px) {
    .page {
        width: 768px;
    }

    .intro {
        width: 768px;
        background-position: 0 -60px;
    }

    .details {
        width: 768px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 480px;
        background: white;
        margin-left: 35px;
    }

    .details .forSvg+div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        height: 76px;
        gap: 10px;
        width: 354px;
    }

    .forSvg {
        width: 354px;
    }

    .headline {
        text-align: left;
    }

    .team {
        height: 1285px;
        width: 768px;
        padding: 15px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .team-list li {
        height: 536px;
        width: 354px;
    }

    .team-list img {
        width: 354px;
    }

    .clients {
        padding: 60px 15px;
        height: 519px;
        width: 768px;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .clients div ul {
        width: 738px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
    }

    .headline {
        text-align: center;
    }

    .clients div {
        margin-top: 30px;
        height: 336px;
        width: 450px;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        gap: 30px;
    }

    footer {
        height: 603px;
        width: 768px;
        background: #2F303A;
        padding: 60px 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: -60px;
    }

    footer ul {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px 80px;
    }

    footer ul li:nth-of-type(2) {
        margin-top: 40px;
        margin-left: -270px;
    }


    footer ul li:nth-of-type(3) {
        margin-top: 10px;
        margin-left: 30px;
    }


    footer ul li:nth-of-type(4) {
        margin-top: 50px;
    }

    .menuBlock {
        width: 768px;
    }

    .closeButton {
        left: 660px;
    }
}


@media (min-width:1600px) {
    .page {
        width: 1600px;
    }

    .intro {
        width: 1600px;
        background-image: url(./img/016.jpeg);
        height: 600px;
        background-position: 100px -100px;
    }

    .details {
        width: 1600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        height: 280px;
        background: white;
        margin-left: 35px;
    }

    .details .forSvg+div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
        height: 76px;
        gap: 10px;
        width: 270px;
    }

    .forSvg {
        width: 270px;
    }

    .team {
        height: 708px;
        width: 1600px;
        padding: 94px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .team-list li {
        height: 428px;
        width: 270px;
    }

    .team-list img {
        width: 270px;
    }

    .clients {
        padding: 60px 15px;
        height: 419px;
        width: 1600px;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .clients div ul {
        width: 600px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .clients div {
        margin-top: 0;
        height: 200px;
        width: 450px;
        flex-direction: row;
        display: flex;
        justify-content: flex-start;
        margin-left: 130px;
        gap: 30px;
    }

    footer {
        height: 303px;
        width: 1600px;
        background: #2F303A;
        padding: 0 260px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }


    footer ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px 100px;
    }



    footer ul li:nth-of-type(2) {
        margin-top: 85px;
        margin-left: -270px;
    }


    footer ul li:nth-of-type(3) {
        margin-top: 50px;
        margin-left: 30px;
    }


    footer ul li:nth-of-type(4) {
        margin-top: 50px;
    }

    .menuBlock {
        width: 1600px;
    }

    .closeButton {
        left: 1500px;
    }
}