* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.page {
    margin: 0 auto;
    width: 480px;
    background: rgb(255, 255, 255);
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background: white;
}

.header p,
footer p {
    width: 134px;
    color: #212121;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
}


footer p {
    width: 154px;
    color: white;
}

.header span,
footer span {
    color: #2196F3;
}

.buttons button {
    border-radius: 4px;
    background: #F5F4FA;
    height: 38px;
    border: none;
    color: #000000;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
}

.buttons button:nth-child(1) {
    color: white;
    width: 73px;
    background: #2196F3;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.buttons button:nth-child(2) {
    width: 125px;
}

.buttons button:nth-child(3) {
    width: 112px;
}

.buttons button:nth-child(4) {
    width: 103px;
    margin-top: 15px;
}

.buttons button:nth-child(5) {
    width: 130px;
    margin-top: 15px;
}

.buttons-wrapper {
    margin-top: 60px;
    height: 91px;
    width: 326px;
    display: flex;
    flex-wrap: wrap;
    gap: 0 8px;
    margin-left: 15px;
}

.stuff-list li img {
    width: 450px;
    height: 294px;
}

.name {
    color: #212121;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
    width: 402px;
    margin-left: 24px;
    margin-top: 20px;
}


.category {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    width: 402px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
    margin-left: 24px;
    margin-top: 4px;
}

.stuff-list li {
    width: 450px;
    height: 404px;
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.stuff-list ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 40px;
}

.img-blue img {
    width: 450px;
    height: 294px;
    position: absolute;
    opacity: 10%;
}

.text-blue {
    position: absolute;
    height: 140px;
    width: 402px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
}

.img-blue {
    width: 450px;
    height: 294px;
    background-color: #2195f3;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer {
    margin-top: 60px;
    height: 603px;
    width: 480px;
    background: #2F303A;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    height: 21px;
    width: 100%;
}

.footer-contacts:first-child {
    color: white;
}

.footer-join {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-join+div {
    display: flex;
    width: 206px;
    justify-content: space-between;
}

.footer-svg {
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-subscribe {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    width: 100%;
}

.footer-subscribe+input {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 450px;
    height: 50px;
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
    padding: 15px;
}

footer ul li:nth-of-type(4) button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}


footer ul li:nth-of-type(4) button svg {
    margin-left: 12px;
    margin-bottom: -7px;
}

footer ul li:nth-of-type(4) button p {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;

    letter-spacing: 0.96px;
}

footer ul li:nth-of-type(2) {
    margin-top: 20px;
    height: 79px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
}


footer ul li:nth-of-type(3) {
    margin-top: 60px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}


footer ul li:nth-of-type(4) {
    margin-top: 60px;
    height: 156px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuBlock {
    width: 480px;
    height: 496px;
    background: rgb(209, 243, 253);
    position: absolute;
    top: 0;
    padding: 30px;
}

.burgerList {
    width: 250px;
    height: 240px;
    position: relative;
    top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactList {
    width: 350px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 50px
}

.contactListItem1 {
    color: #2196F3;
    font-family: Roboto;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0.68px;
}

.contactListItem2 {
    color: #757575;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.48px;
}

a {
    text-decoration: none;
}

.listItem:nth-child(2) {
    color: #2196F3;
}

.listItem {
    height: 50px;
    width: 250px;
    font-size: 40px;
    color: #212121;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.8px;
}

.closeButton {
    width: 40px;
    height: 40px;

    position: relative;
    left: 390px;
    top: -10px;
}